/* * {
    border: 1px solid red;
} */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Playwrite';
    src: url('./fonts/PlaywriteNO-Regular.ttf');
}

#title {
    margin-top: 65px;
    font-family: 'Playwrite';
    font-size: 40px;
}

#border {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 37px;
    height: 575px;
    width: 840px;
    border: 2px solid orange;
    border-radius: 15px;
    background-color: peachpuff;
}

#container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    background-color: white;
    border: 2px solid orange;
}

#settings {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
}

#slide-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slider {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 8px;
    accent-color: orange;
    background: white;
    border: 2px solid orange;
    border-radius: 10px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: peachpuff;
    border: 2px solid orange;
    transition: .2s;
}

#slider::-webkit-slider-thumb:hover {
    -webkit-appearance: none;
    background: orange;
    transition: .2s;
    cursor: pointer;
}

#slide-container p {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 7px;
    width: max-content;
    margin-top: 15px;
}

.btn-line {
    display: flex;
    gap: 5px;
}

.button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    color: darkorange;
    border: 2px solid orange;
    border-radius: 15px;
    padding: 5px 8px;
    margin: 0;
    transition: .2s;
}

.button:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    transition: .2s;
    color: white;
    background-color: orange;
}

.active {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.2);
    color: white;
    background-color: orange;
    transform: translateY(-5px);
}