/* * {
    border: 1px solid red;
} */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Playwrite';
    src: url('./fonts/PlaywriteNO-Regular.ttf');
}

#title {
    margin-top: 65px;
    font-family: 'Playwrite';
    font-size: 40px;
}

#border {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 575px;
    width: 840px;
    border: 2px solid orange;
    border-radius: 15px;
    background-color: peachpuff;
}

#container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    background-color: white;
    border: 2px solid orange;
}

#settings {
    margin-top: -390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: max-content;
}

#slide-container {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slider {
    width: 200px;
}

#slide-container p {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 5px;
    width: max-content;
}